<h2>Staff Dashboard</h2>

<h3>Create Available Slot</h3>

<form method="POST">
      <label>Select Date & Time</label>
    <input type="datetime-local" name="appointment_time" required>

    <select name="service_id" required>
        {% for service, master in services %}
            <option value="{{ service.id }}">
                {{ master.name }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Add Slot</button>
</form>

<hr>

<h3>Available Slots</h3>
<ul>
{% for a in appointments %}
    {% if not a.is_booked %}
        <li>{{ a.time }} (Available)</li>
    {% endif %}
{% endfor %}
</ul>

<h3>Booked Appointments</h3>
<ul>
{% for a in appointments %}
    {% if a.is_booked %}
        <li>
            {{ a.time }} - {{ a.customer_name }} ({{ a.customer_email }})
        </li>
    {% endif %}
{% endfor %}
</ul>