# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Flask instance folder
instance/

# VS Code / IDE files
.vscode/
.idea/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
