<!DOCTYPE html>
<html>
<head>
    <title>Admin Login - {{ business.name }}</title>

</head>
<body>

<div class="login-card">
    <h2>{{ business.name }} Admin Login</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>