{% extends "business/admin/base_admin.html" %}
{% block content %}

<body class="login-page">

<div class="login-card">

    <h2>{{ business.name }} Admin Login</h2>

    <p class="login-subtitle">
        Login to manage your business dashboard
    </p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
   <form method="POST">
    <input type="email" name="email" placeholder="Enter Email" required>
    <input type="password" name="password" placeholder="Enter Password" required>

    <button type="submit">Login</button>
</form>

<hr>

<a href="{{ url_for('business.admin_google_login', slug=business.slug) }}">
    <button type="button">
        Continue with Google
    </button>
</a>

</div>

</body>
{% endblock %}