<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="admin-container">

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>{{ business.name }}</h2>

        <a class="{% if request.endpoint == 'business.admin_dashboard' %}active{% endif %}"
   href="{{ url_for('business.admin_dashboard', slug=business.slug) }}">
   Dashboard
</a>
<a class="{% if request.endpoint == 'business.admin_services' %}active{% endif %}"
   href="{{ url_for('business.admin_services', slug=business.slug) }}">
   Services
</a>
<a class="{% if request.endpoint == 'business.admin_staff' %}active{% endif %}"
   href="{{ url_for('business.admin_staff', slug=business.slug) }}">
   Staff
</a>
<a class="{% if request.endpoint == 'business.admin_appointments' %}active{% endif %}"
   href="{{ url_for('business.admin_appointments', slug=business.slug) }}">
   Appointments
</a>
<a class="{% if request.endpoint == 'business.logout' %}active{% endif %}"
   href="{{ url_for('business.logout', slug=business.slug) }}">
  Logout
</a>

      
    </div>

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>