<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

<div class="admin-container">

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>{{ business.name }}</h2>

        <a href="{{ url_for('business.admin_dashboard', slug=business.slug) }}">Dashboard</a>

       <a href="{{ url_for('business.admin_services', slug=business.slug) }}">Services</a>

        <a href="{{ url_for('business.admin_staff', slug=business.slug) }}">Staff</a>

        <a href="#">Appointments</a>

        <a href="#">Settings</a>

        <a href="{{ url_for('business.logout', slug=business.slug) }}">Logout</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>