<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
   
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="left">
        {{ business.name }} Admin
    </div>

    <div class="right">
        <a href="{{ url_for('business.business_home', slug=business.slug) }}">Home</a>
        <a href="{{ url_for('business.admin_dashboard', slug=business.slug) }}">Dashboard</a>
        <a href="{{ url_for('business.admin_services', slug=business.slug) }}">Services</a>
    </div>
</div>

<!-- CONTENT -->
<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>