{% extends "business/user/user_base.html" %}

{% block title %}Dashboard - {{ business.name }}{% endblock %}

{% block content %}

<h2>Welcome, {{ user.name }} 👋</h2>


<h3>Available Appointments</h3>

{% if available_slots %}
    <table>
        <tr>
            <th>Time</th>
            <th>Service</th>
            <th>Action</th>
        </tr>

        {% for slot in available_slots %}
        <tr>
            <td>{{ slot.time }}</td>
        <td>{{ slot.service.master.name }}</td>
        <td>{{ slot.service.price }}</td>
            <td>
                <form method="POST" action="{{ url_for('business.book_slot', slug=business.slug, id=slot.id) }}">
                    <button type="submit">Book</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No slots available</p>
{% endif %}


<br><br>


<h3>My Booked Appointments</h3>

{% if my_appointments %}
    <table>
        <tr>
            <th>Time</th>
            <th>Service</th>
            <th>Action</th>
        </tr>

        {% for slot in my_appointments %}
        <tr>
            <td>{{ slot.time }}</td>
            <td>{{ slot.service.master.name }}</td>
        <td>{{ slot.service.price }}</td>
            <td>
                <form method="POST" action="{{ url_for('business.cancel_appointment', slug=business.slug, id=slot.id) }}">
                    <button type="submit" style="background-color:red;">Cancel</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You have no bookings</p>
{% endif %}

{% endblock %}