{% extends "business/user/user_base.html" %}

{% block title %}Login - {{ business.name }}{% endblock %}

{% block content %}

<h2>Login to {{ business.name }}</h2>

<form method="POST">

    <label>Email</label>
    <input type="email" name="email" placeholder="Enter your email" required>

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your password" required>

    <button type="submit">Login</button>

</form>

<p>
    Don't have an account?
    <a href="{{ url_for('business.user_signup', slug=business.slug) }}">
        Signup here
    </a>
</p>

{% endblock %}