{% extends "business/base.html" %}

{% block content %}
<section class="business-home">

   <div class="business-header">
    <h1 class="business-title">{{ business.name }}</h1>

    <div class="auth-buttons">
         <a href="{{ url_for('business.admin_login', slug=business.slug) }}" class="admin-btn">
            User
        </a>
        <a href="{{ url_for('business.admin_login', slug=business.slug) }}" class="admin-btn">
            Admin
        </a>
        <a href="{{ url_for('business.staff_login', slug=business.slug) }}" class="staff-btn">
            Staff
        </a>
    </div>
</div>
    <div class="top-auth">
 

   
    <p>{{ business.address }}</p>
    <p>Category: {{ business.category | capitalize }}</p>

    <hr>

    
 <div class="business-gallery">
    {% for image in images %}
        <img src="{{ url_for('static', filename=image) }}" class="business-img">
    {% endfor %}
</div>

    <hr>

    {% if services %}
    <div class="business-services">
        <h3>Services Offered:</h3>
        <ul>
            {% for service in services %}
                <li>
                    {{ service.name }} - ₹{{ service.price }}
                </li>
            {% endfor %}
        </ul>
    </div>

  
    <div class="book-btn">
        <a href="{{ url_for('business.book_appointment', slug=business.slug) }}" 
           class="btn-book">
           Book Appointment
        </a>
    </div>

    {% else %}
        <p>No services listed yet.</p>
    {% endif %}

</section>
{% endblock %}