{% extends "business/base.html" %}

{% block content %}
<section class="business-home">

<div class="business-header">
    <h1 class="business-title">{{ business.name }}</h1>

    <div class="auth-buttons">
        <button class="admin-btn" onclick="openRoleModal()">
            Login
        </button>
    </div>
</div>

<div class="top-auth">

<div id="roleModal" class="role-modal">
    <div class="role-modal-content">
        <h3>Select Your Role</h3>

        <a href="{{ url_for('business.user_login', slug=business.slug) }}" class="role-btn">
            User
        </a>

        <a href="{{ url_for('business.staff_login', slug=business.slug) }}" class="role-btn">
            Staff
        </a>

        <a href="{{ url_for('business.admin_login', slug=business.slug) }}" class="role-btn">
            Admin
        </a>

        <button onclick="closeRoleModal()" class="close-btn">Cancel</button>
    </div>
</div>

<p>{{ business.address }}</p>
<p>Category: {{ business.category | capitalize }}</p>

<hr>

<div class="business-gallery">
    {% for image in images %}
        <img src="{{ url_for('static', filename=image) }}" class="business-img">
    {% endfor %}
</div>

<hr>

{% if services %}
<div class="business-services">

    <h3>Services Offered:</h3>

    <ul id="serviceList">
      {% for service, master in services %}
<li class="service-item">
    {{ master.name }} - ₹{{ service.price }}
</li>
{% endfor %}
    </ul>

    <button id="viewAllBtn" style="display:none;" onclick="showAllServices()">
        View All Services
    </button>

</div>
{% else %}
<p>No services listed yet.</p>
{% endif %}

<div class="book-btn">
    <a href="{{ url_for('business.user_login', slug=business.slug) }}" 
       class="btn-book">
       Book Appointment
    </a>
</div>

</section>

<script>

function openRoleModal() {
    document.getElementById("roleModal").style.display = "flex";
}

function closeRoleModal() {
    document.getElementById("roleModal").style.display = "none";
}

document.addEventListener("DOMContentLoaded", function () {

    const services = document.querySelectorAll("#serviceList .service-item");
    const btn = document.getElementById("viewAllBtn");

    if (services.length > 5) {

        for (let i = 5; i < services.length; i++) {
            services[i].style.display = "none";
        }

        btn.style.display = "inline-block";
    }

});

function showAllServices() {

    const services = document.querySelectorAll("#serviceList .service-item");

    services.forEach(service => {
        service.style.display = "list-item";
    });

    document.getElementById("viewAllBtn").style.display = "none";
}

</script>

{% endblock %}